
#HomeHeader {
    background-image: url('../Images/Filler_ExtraImages/MowingScapeOptimize.png');
    width: 100%;
    background-repeat: no-repeat;
}

#jumbotronHP {
    background-color: transparent
}

.HpServiceInfo {
    margin-top: 20px;
}

.HpServiceImage {
    height: 100%;
    width: 100%
}