<title> Home | TheNorthernHandyman</title>


<body class ="mainPageBody">
<header class="intro-header" >          
    <div class="container">
        <div class="row">
           <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2
                col-sm-6 col-sm-offset-3 col-xs-12">
                
                    <br />
                    <h1 style="margin-bottom:5px">The</h1>
                    <h1 style="margin-top:5px">Northern Handyman</h1>
                    <hr class="small">
                    <span class="subheading">
                        Snow | Tree Removal<br />
                        <small>
                            Professional<br />
                            Commercial<br />
                            Residential<br />
                            <br />
                        </small>
                        @*<a href="https://www.facebook.com/NorthernHandyman/" 
                           class="btn btn-primary" 
                           style="background-color:#987D20;">See More..</a>*@
                    </span>
               
            </div>
        </div>
        <hr />
        <div class="row col-lg-offset-2">
            <p  class="divide" >
                <strong>*SPECIAL*</strong>
                Ask About our 10% Discount for Veterans and Senior Citizens! Or Our 20% for disabled.
            </p>
        </div>
        <hr />      
     </div>
</header>
   
</body>
