@*@{
    ViewBag.Title = "Home | TheNorthernHandyman";

}*@
<title>The Northern Handyman</title>

<body class ="mainPageBody">
    <header class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1
                col-sm-5 col-sm-offset-3">
                    <div class="site-heading"
                         style="padding:10px;
                     text-align:center">
                        <br />
                        <br />
                        <h1>The</h1>
                        <h1 style="font-size: 65px;">Northern Handyman</h1>
                        <hr class="small">
                        <span class="subheading">
                            Snow | Tree Removal<br />
                            <small>
                                Professional<br />
                                Commercial<br />
                                Residential<br />
                                <br />
                            </small>
                            @*<a href="https://www.facebook.com/NorthernHandyman/"
                                class="btn btn-primary"
                                style="background-color:#987D20;">See More..</a>*@
                        </span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row col-lg-offset-2">
                <p class="divide">
                    <strong>*SPECIAL*</strong>
                    Ask About our 10% Discount for Veterans and Senior Citizens! Or Our 20% for disabled.
                </p>
            </div>

            <hr />
        </div>
    </header>
    




    <div class="jumbotron content">
	
    	<div class="row">
            <div class="col-md-12">
                <div class="col-md-4 text-center">
                    <h3>Tree Removal </h3>
                    <p style="margin-top:20px;">Sometimes a tree just has to be removed. It might be a safety issue or the need to clear space for construction, a landscaping project, or to get more sun on your yard or pool.</p>

                    <img src="images/service-img1.png" style="margin-top:20px;" width="100%">
                    <a href="tree-services.html" class="btn btn-success buttn1">Read More <i class="fa fa-angle-right"></i></a>

                </div>
                <div class="col-md-4 text-center">
                    <h3>Tree Trimming</h3>
                    <p style="margin-top:20px;">While nature usually does a very nice job on its own, sometimes it just needs a little help to get things just right. Such is the case with trees. Left on their own, limbs can grow.</p>

                    <img src="images/service-img2.png" style="margin-top:20px;" width="100%">
                    <br />
                    <a href="tree-services.html" class="btn btn-success buttn1">Read More <i class="fa fa-angle-right"></i></a>
                </div>

                <div class="col-md-4 text-center">
                    <h3>Stump Grinding / Removal </h3>
                    <p style="margin-top:20px;">Once a tree is removed, the stump is left behind. In most cases, you'll want to grind the stump eight to twelve inches below ground level to allow for the planting of grass, shrubs, or a new tree.</p>
                    <img src="~/Images/Filler_ExtraImages/FullStumpRemoval.jpg" style="margin-top:20px;" width="100%">
                    <a href="grinding.html" class="btn btn-success buttn1">Read More <i class="fa fa-angle-right"></i></a>
                    
                </div>
            </div>
        </div>
    
</div>
















</body>
