
@{
    ViewBag.Title = "Landscape_Lawncare_Index";
}

<!--Landscape&LawnCare-->
    <div class="container" style="width:70%">
        <!--Row-->
            <div class="row">
                <div class="col-xs-12 text-center">
                    <!--Jumbotron-->
                        <div class="jumbotron">
                            <h2 style="font-style:italic">LANDSCAPE & LAWN CARE...</h2>
                            
                                Taking care of a lawn and garden is hard, The Northrern Handyman <br />
                                Can help you determine what needs to be done for your grass to
                                keep it lush and healthy.<br />
                                The Yard You Want, Without All the Work!<br />
                                   
                        </div>
                    <!--/Jumbotron-->
                </div>
            </div>
        <!--/Row-->

        <!--Row-->
            <div class="row">
                <!--Mowing-->
                    <div class="col-xs-12 col-sm-6 text-center">
                        <div class="panel">
                            <!--Content-->
                                <div class="panel-body">
                                    <h3 style="font-style:italic">
                                       Mowing
                                    </h3>
                                        <p style="font-size: 1em;">
                                            One of the first steps of having the best looking yard is lawn mowing.
                                            The Northern Handyman offers grass cutting services for
                                            homes and commercial lots. Mowing your lawn at the right times and on
                                            a regular basis will give you stronger, healthier grass.
                                        </p>
                                   
                                </div>
                            <!--/Content-->
                        </div>
                    </div>
                <!--/Mowing-->

                <!--Image-->
                    <div class="col-xs-12 col-sm-6">
                        <img src="~/Images/Mowing/Mowing.jpg" 
                             style="height:100%; 
                                    width:100%"/>
                    </div>
                <!--/Image-->

            </div>
        <!--/Row-->

        <!--Row-->
            <div class="row">
                <!--Spring & Fall Cleanups-->
                    <div class="col-xs-12 col-sm-6 col-sm-push-6 text-center">
                        <div class="panel">
                            <!--Content-->
                                <div class="panel-body">
                                    <h3 style="font-style:italic">
                                        Spring & Fall Cleanups
                                    </h3>
                                        <p style="font-size: 1.00em;">
                                            No one likes the yearly chore of raking leaves...But the task
                                            of raking leaves cannot be neglected. leaves left on your lawn
                                            during the snowfall, will end up smothering and killing the grass you
                                            worked so hard to maintain. <br />
                                            Call The Northern Handyman to get those leaves
                                            out of your yard before winter.
                                        </p>
                                    
                                </div>
                            <!--/Content-->
                        </div>
                    </div>
                <!--/Spring & Fall Cleanups-->

                <!--Image-->
                    <div class="col-xs-12 col-sm-6 col-sm-pull-6">
                        <img src="~/Images/Mowing/spring_cleanup.jpg" 
                             style="height:100%; width:100%"/>
                    </div>
                <!--/Image-->
            </div>
        <!--/Row-->

        <!--Row-->
            <div class="row">
                <!--Edging-->
                    <div class="col-xs-12 col-sm-6 text-center">
                        <!--Content-->
                            <div class="panel">
                                <div class="panel-body">
                                    <h3 style="font-style:italic">
                                        Edging
                                    </h3>
                                    <p style="font-size: 1.00em;">
                                        Lawn edging gives your lawn a clean, sharp appearance 
                                        and provides a barrier between the grass and flowerbeds. 
                                        Lawns can end up looking sloppy without proper edging, 
                                        Eding also make it easier to mow properly. 
                                        Talk to our  team about edging material 
                                        options.
                                    </p>
                                </div>
                            </div>
                        <!--/Content-->

                    </div>
                <!--/Edging-->

                <!--Image-->
                    <div class="col-xs-12 col-sm-6 text-center bg-img columbus">
                        <img src="~/Images/Mowing/edging.jpg" 
                             style="height:100%; width:100%" />
                    </div>
                <!--Image-->
            </div>
        <!--/Row-->

        <!--Row-->
            <div class="row">
                <!--Pruning-->
                    <div class="col-xs-12 col-sm-6 col-sm-push-6 text-center">
                        <div class="panel">
                            <!--Content-->
                                <div class="panel-body">
                                    <h3 style="font-style:italic">
                                       Pruning
                                    </h3>
                                    <p style="font-size: 1.00em;">
                                        When proper care and attention is given to your trees and shrubs you can expect to have
                                        beautiful greenery year after year. Our team will prune and trim your plants keeping
                                        them lush, healthy, and full of life. Allow us to give you a beautifully manicured yard 
                                        by shaping your trees and shrubs into works of art.
                                    </p>                   
                                </div>
                            <!--/Content-->
                        </div>
                    </div>
                <!--/Pruning-->

                <!--Image-->
                    <div class="col-xs-12 col-sm-6 col-sm-pull-6">               
                        <img src="~/Images/Trimming/pruning.jpg"  
                             style="height:100%; width:100%"/>
                    </div>
                <!--/Image-->

            </div>        
        <!--/Row-->

        <!--Row-->
            <div class="row">
                <!--Retaining & Decorative Walls-->
                    <div class="col-xs-12 col-sm-6 text-center">
                        <!--Content-->
                            <div class="panel">
                                <div class="panel-body">
                                    <br /> 
                                    <h3 style="font-style:italic">
                                        Retaining & Decorative Walls
                                    </h3>
                                    <p style="font-size: 1.00em;">
                                        We excel at everything from building retaining walls and driveway 
                                        recontruction to laying down stone patios, walkways and Fire pits.
                                        Let us take the Work out of Yardwork!
                                    </p>
                                        <br />                        
                                </div>
                            </div>
                        <!--/Content-->
                    </div>
                <!--/Retaining & Decorative Walls-->

                <!--Image-->
                    <div class="col-xs-12 col-sm-6 text-center">
                        <img src="~/Images/Projects/stonewall.JPG" style="height:100%; width:100%" />
                    </div>
                <!--/Image-->
            </div>
        <!--/Row-->

        <!--Row-->
            <div class="row">
                <!--Planting-->
                    <div class="col-xs-12 col-sm-6 col-sm-push-6 text-center">
                        <div class="panel">
                            <!--Content-->
                                <div class="panel-body">
                                    <h3 style="font-style:italic">
                                        Planting
                                    </h3>
                                        <p style="font-size: 1.00em;">
                                            Great landscaping is an investment 
                                            in your property.There are many different types of fertilizer
                                            based on the type of soil you have,We can help you choose the
                                            best fertilizer as well as removing old dead shrubs and replacing them with
                                            live plants, bushes, etc.
                                        </p>                       
                                </div>
                            <!--/Content-->
                        </div>
                    </div>
                <!--/Planting-->

                <!--Image-->
                    <div class="col-xs-12 col-sm-6 col-sm-pull-6 text-center">
                        <img src="~/Images/Mowing/Planting.jpg" style="height:100%; width:100%"/>
                    </div>
                <!--/Image-->
            </div>
        <!--Row-->

        <!--/Row-->
            <div class="row">
                <!--Mulching-->
                    <div class="col-xs-12 col-sm-6 text-center">
                        <div class="panel">
                            <!--Content-->
                                <div class="panel-body">
                                    <h3 style="font-style:italic">
                                        Mulching
                                    </h3>
                                        <p style="font-size: 1.00em;">
                                            Whether you need one-time help with your lawn or ongoing service,
                                            we can keep your property looking great with a wide range of
                                            lawn services. Let us take care of your mulching, edging, and more.
                                            With the experience needed, we pride ourselves on creating 
                                            the most beautiful yards.
                                        </p>                       
                                </div>
                            <!--/Content-->
                        </div>
                    </div>
                <!--/Mulching-->

                <!--Image-->
                    <div class="col-xs-12 col-sm-6 text-center">
                        <img src="~/Images/Mowing/Mulching.jpg" style="height:100%; width:100%" />
                    </div>
                <!--/Image-->
            </div>
        <!--/Row-->

        <!--Row-->
            <div class="row">
                <!--Buttons-->
                    <ul class="pager">
                        <!--Home Button-->
                            <li class="active">
                            <a href='@Url.Action("Index","Home")'>Home</a>
                        </li>
                        <!--/Home Button-->

                    </ul>
                <!--Buttons-->
                    <br />
            </div>
        <!--/Row-->

    </div>
<!--/Landscape&LawnCare-->

