
@{
    ViewBag.Title = "Mowing";
}
<br />
<br />
<br />
    <body>
        <!-- Page Content -->
        <div class="container">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        <a href='@Url.Action("Photos", "Home")'>Albums</a>
                        <small>| Mowing | Yard CleanUp |</small>
                    </h1>
                </div>
            </div>
            <!-- /.row -->
            <!-- Projects Row -->
            <div class="row">
                <div class="col-sm-3 col-xs-6 portfolio-item">
                    <a href="#portfolioModal1"
                       class="portfolio-link"
                       data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-responsive" src="~/Images/Mowing/LawnCare.PNG"
                             style="height: 210px; width: 280px" />
                    </a>
                </div>
            </div>
                <!--ApartPatio Projects Row -->
                <div class="row">
                    <div class="col-md-3 portfolio-item">
                        <a href="#">
                            <img class="img-responsive"
                                 src="~/Images/Mowing/CleanUp.jpeg" />
                        </a>
                    </div>

                    <div class="col-md-3 portfolio-item">
                        <a href="#">
                            <img class="img-responsive"
                            src="~/Images/Mowing/CleanUp2.jpeg" />
                                
                        </a>
                    </div>
                    <div class="col-md-3 portfolio-item">
                        <a href="#">
                            <img class="img-responsive"
                                src="~/Images/Mowing/CleanupAfter.jpeg" />
                        </a>
                    </div>

                    <div class="col-md-3 portfolio-item">
                        <a href="#">
                            <img class="img-responsive"
                           src="~/Images/Mowing/CleanupDuring.jpeg" />
                        </a>
                    </div>
                    <div class="col-md-3 portfolio-item">
                        <a href="#">
                            <img class="img-responsive"
                                src="~/Images/Mowing/CleanupAfter.jpeg" />
                        </a>
                    </div>
                    <div class="col-md-3 portfolio-item">
                        <a href="#">
                            <img class="img-responsive"
                             src="~/Images/Mowing/CleanupDuring.jpeg" />
                        </a>
                    </div>
                </div>
                <!-- /.row -->
            

            </div>
            <!-- /.row -->
            <hr />
            <!-- Pagination -->
            <div class="row text-center">
                <div class="col-lg-12">
                    <ul class="pagination">
                        <li>
                            <a href='@Url.Action("Limb_Removal", "Home")'>&laquo;</a>
                            
                        </li>
                        <li class="active">
                            <a href="#">3</a>
                        </li>
                       
                        <li>
                            <a href='@Url.Action("Projects", "Home")'>&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.row -->
       </div>
    </body>

<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade"
     id="portfolioModal1"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal"
                 data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <img class="img-responsive" src="~/Images/Mowing/LawnCare.PNG" />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>