
@{
    ViewBag.Title = "Stump_Grinding_Index";
}
<div class="container">
    <div class="row">
        <div class="jumbotron content">
            <h1>Stump Grinding</h1>
            Quick and affordable tree and stump removal is what we do.

            Are you ready to dump that tree stump that’s an eye soar and tripping hazard in your lawn?

            we have the experience and professional equipment
            necessary to remove any size stump.
            In addition to affordable prices and timely stump removal, you’re in great hands with us at
            The Northern Handyman.

            Why Are Stumps So Hard to Remove?

            As a tree grows older, its roots tend to grow deeper into the ground, making it almost impossible
            to pluck it out of the ground without some kind of mechanical help. With one phone call to The Northern Handyman,
            we can assess the stump, determine a budget, set a date to remove the stump, and remove it with
            little effort . You can say goodbye to that stump forever!

            Once the stump is removed, our team can remove the stump from your yard so
            that you don’t have to bother with getting rid of it.

            Our customers are our FIRST priority and we provide an array of tree and lawn services to
            make your life easier and your home or business looking  beautiful.

            <ul class="pager">

                <li class="active">
                    <a href='@Url.Action("Index","Home")'>Home</a>
                </li>

            </ul>
  
                <div class="pageOffset"></div>
                <div class="pagePadding">

                    <div id="pageAlignment" class="pageAlignment">
                        <div id="pageContent" class="pageContent">
                            <img class="line master_10" src="/_imgstore/1/1361001/master_10/yP41EwYK_rI_jvGghTdgPs4DKUM.png">
                            <ul class="menu horizontal master_fpnv8wUe9FhW6Nq23bsMZ">
                                <li class="menuItem ">
                                    <a href="/home/1922665" class="menuItemDesign"><span>Home</span></a>
                                </li>
                                <li class="menuItem ">
                                    <a href="/lawn-care-programs/1922674" class="menuItemDesign"><span>Lawn Care Programs</span></a>
                                </li>
                                <li class="menuItem ">
                                    <a href="/build-maintain-landscape/1922675" class="menuItemDesign"><span>Build &amp; Maintain Landscape</span></a>
                                    <div class="subMenu">
                                        <ul>
                                            <li class="subMenuItem ">
                                                <a href="/patio-and-deck-building/1922706" class="subMenuItemDesign"><span>Patio and Deck Building</span></a>
                                            </li>
                                            <li class="subMenuItem ">
                                                <a href="/commercial/1922677" class="subMenuItemDesign"><span>Commercial</span></a>
                                            </li>
                                            <li class="subMenuItem ">
                                                <a href="/residential/1922678" class="subMenuItemDesign"><span>Residential</span></a>
                                            </li>
                                            <li class="subMenuItem ">
                                                <a href="/tree-service/1922698" class="subMenuItemDesign"><span>Tree Service</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menuItem ">
                                    <a href="/trucking-equipment/1922723" class="menuItemDesign"><span>Trucking &amp; Equipment</span></a>
                                </li>
                                <li class="menuItem selected">
                                    <a href="/winter-season-services/1922676" class="menuItemDesign"><span>Winter Season Services</span></a>
                                </li>
                                <li class="menuItem ">
                                    <a href="/contact/1922669" class="menuItemDesign"><span>Contact</span></a>
                                </li>
                            </ul>
                            <a href="/home/1922665" target="_self">
                                <img src="/communities/1/000/001/361/001//images/3336520_429x97.png" alt="grassdoctors lawn and landscape company logo" title="grassdoctors lawn and landscape company logo" class="master_fxSvij6etLKcRl1aAmXKz">
                            </a>
                            <div class="master_f38sGIlpdqfntFL_nXgLS body">
                                <p class="p0">

                                    <span class="c0"><a href="tel: +19204193060" target="_blank">920-419-3060</a></span>
                                </p>
                                <p class="p1">

                                    <span class="c0">grassdoctors@yahoo.com</span>
                                </p>
                            </div>
                            <img src="/communities/1/000/001/361/001//images/11893048_171x100.png" alt="stillman-logo" class="master_f4O3sb80rUHlF836Um1iI">
                            <div class="simpleRectangle page_winter-season-services_faZ32UQq68zY28QyLB-Dp">

                            </div>
                            <img src="/communities/1/000/001/361/001//images/11893305.png" alt="Cleaning-snow" class="page_winter-season-services_fsSrd3DywwId5YSN9ZsTI">
                            <div class="simpleRectangle page_winter-season-services_foXUXyyLLGNirPLTHWc_n">

                            </div>
                            <div class="simpleRectangle page_winter-season-services_fX791jwOcgcaWnand3cZL">

                            </div>
                            <img src="/communities/1/000/001/361/001//images/3336807.jpg" alt="Cleaning snow" title="Cleaning snow" class="page_winter-season-services_fuP_ygDEq0sypJ46p0XhM">
                            <img class="line page_winter-season-services_12" src="/_imgstore/1/1361001/page_winter-season-services_12/yHkhMMdLnCm9g7rSauMSYpDHOGI.png">
                            <div class="page_winter-season-services_f3QOG5MPTavgTm7GJvFEe body">
                                <p class="p0">

                                    <span class="c0">Winter is no excuse. Our crew is happy to keep the hedges trimmed or the yard raked. We specialize in snow removal also. Salting and sanding is available for sidewalks and driveways, as well as 24-hour snow plowing. Call us for a quote.</span>
                                </p>
                            </div>
                            <div class="page_winter-season-services_fJ2LM4MQ_i9oWBwJNq_EN body">
                                <p class="p0">

                                    <span class="c0">Let us come out in the fall to get your yard ready for snowfall. We'll come back out in the spring to clean up and get your yard growing again. </span>
                                </p>
                            </div>
                            <div class="page_winter-season-services_fYhq5o_-6RlhN9FGCWDUc body">
                                <p class="p0">

                                    <span class="c0">24-hour snow plowing for your business or neighborhood</span>
                                </p>
                            </div>
                            <div class="page_winter-season-services_17 title">
                                <h1 class="p0">

                                    <span class="c0">Quality property services for every season</span>
                                </h1>
                            </div>
                            <div class="page_winter-season-services_flU0it01gI2dx7A90o9c1 body">
                                <p class="p0">

                                    <span class="c0"><a href="/page/1922668" target="_self">• &nbsp;Snow plowing</a></span>
                                </p>
                                <p class="p1">

                                    <span class="c0"><a href="/page/1922668" target="_self">• &nbsp;Salting and sanding</a></span>
                                </p>
                                <p class="p2">

                                    <span class="c0"><a href="/page/1922668" target="_self">• &nbsp;Sidewalk, walkway and driveway </a></span>
                                </p>
                                <p class="p3">

                                    <span class="c0"><a href="/page/1922668" target="_self"> &nbsp; snow removal</a></span>
                                </p>
                            </div>
                            <div class="page_winter-season-services_fGekuK2hxMiPO8jaMIxtY body">
                                <p class="p0">

                                    <span class="c0">Let us do more than snow removal. We have experienced crew members for building </span>
                                </p>
                                <p class="p1">

                                    <span class="c0"><a href="/patio-and-deck-building/1922706" target="_self">decks and patios</a></span><span class="c1"><a href="/patio-and-deck-building/1922706" target="_self">, </a></span><span class="c2"><a href="/lawn-care-programs/1922674" target="_self">lawn care</a></span><span class="c3"><a href="/patio-and-deck-building/1922706" target="_self">, </a></span><span class="c4"><a href="/tree-service/1922698" target="_self">tree service</a></span><span class="c5"><a href="/patio-and-deck-building/1922706" target="_self"> and more. Ask about our scheduled </a></span>
                                </p>
                                <p class="p2">

                                    <span class="c0"><a href="/build-maintain-landscape/1922675" target="_self">maintenance</a></span><span class="c1"><a href="/build-maintain-landscape/1922675" target="_self"> services. </a></span>
                                </p>
                            </div>
                            <div class="page_winter-season-services_fZvUmmi-uacYbuHrbl6l7 body">
                                <p class="p0">

                                    <span class="c0">Get more for your money with a FREE estimate:</span>
                                </p>
                                <p class="p1">

                                    <span class="c0"><a href="tel:9204193060" target="_blank">920-419-3060</a></span>
                                </p>
                            </div>
                            <div class="page_winter-season-services_f8PFAx6UnbImYYj-Rt02R title">
                                <h1 class="p0">

                                    <span class="c0">Beautify your landscape even in the snow</span>
                                </h1>
                            </div>
                            <div class="page_winter-season-services_fJddAVAi6GqwqX9QybuOy title">
                                <h1 class="p0">

                                    <span class="c0">Spring and fall cleanup</span>
                                </h1>
                            </div>
                            <div class="page_winter-season-services_fXcfcW-62A3B5iOzHpXOb title">
                                <h1 class="p0">

                                    <span class="c0">Cold weather services</span>
                                </h1>
                            </div>
                            <div class="page_winter-season-services_frOEgXaRspxG4LcbvLE6k title">
                                <h1 class="p0">

                                    <span class="c0">Providing the best full-service landscaping in the Fox Valley and Northeastern, WI</span>
                                </h1>
                            </div>
                            <div id="footer" class="footer">
                                <div class="footer_fp8lZB39lv-7UoRQUngov body">
                                    <p class="p0">

                                        <span class="c0"><a href="http://legal.hibustudio.com/client-site-terms-and-conditions/privacy-policy.html" target="_blank">Privacy Policy</a></span><span class="c1"> | </span><span class="c2"><a href="http://legal.hibustudio.com/client-site-terms-and-conditions/cookie-policy.html" target="_blank">Cookie Policy</a></span><span class="c3"> | </span><span class="c4"><a href="http://legal.hibustudio.com/client-site-terms-and-conditions/conditions-of-use.html" target="_blank">Conditions of Use</a></span><span class="c5"> | </span><span class="c6"><a href="http://legal.hibustudio.com/client-site-terms-and-conditions/infringement-policy.html" target="_blank">Notice and Take Down Policy</a></span><span class="c7"> | Powered by </span><span class="c8"><a href="http://business.hibu.com/" target="_blank">hibu</a></span>
                                    </p>
                                </div>
                                <img class="line footer_fnW5cGJr0uW1Fugd4JQdt" src="/_imgstore/1/1361001/footer_fnW5cGJr0uW1Fugd4JQdt/O73ba8cnrqtw96_8Ctn_VqQMTR4.png">
                                <div class="footer_f_WnP1Tja0vtB2pFpEC7j body">
                                    <p class="p0">

                                        <span class="c0">© 2016. The content on this website is owned by us and our licensors. Do not copy any content (including images) without our consent.</span>
                                    </p>
                                </div>
                                <a href="http://www.facebook.com/pages/Grass-Doctors-Lawn-Landscape/614663105298037" target="_blank">
                                    <img src="/communities/1/000/001/361/001//images/5510214_42x42.png" alt="facebook logo-blue" class="footer_f-jRWxCW9V9YMUZZ0M3JR">
                                </a>
                                <a href="http://twitter.com/GrassDoctorsWI" target="_blank">
                                    <img src="/communities/1/000/001/361/001//images/5510216_42x42.jpg" alt="twitter logo-blue box" class="footer_fM5_hgCN3YoDsgi14B_qy">
                                </a>
                                <div class="footer_fCCnfKV7E5ZP2sTvbNGJX body">
                                    <p class="p0">

                                        <span class="c0">Grass Doctors Lawn &amp; Landscape - Lawn and tree care | Neenah, WI &nbsp;| Appleton WI </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
