
@{
    ViewBag.Title = "Stump_Grinding";
}


<br />
<br />
<br />

<body>
   
    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <a href='@Url.Action("Photos", "Home")'>Albums</a>
                    <small>| Stump Grinding |</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="~/Images/StumpGrinding/StumpGrinding1.jpg" />
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive"  src="~/Images/StumpGrinding/StumpGrindingCleanup1.jpg" />
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="~/Images/StumpGrinding/StumpGrinding2.jpg" />
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive"  src="~/Images/StumpGrinding/StumpGrindingCleanup2.jpg" />
                </a>
            </div>
        </div>
        <!-- /.row -->
        <br />
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="~/Images/StumpGrinding/StumpGrinding3.jpg" />
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="~/Images/StumpGrinding/StumpGrindingCleanup3.jpg" />
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive"  src="~/Images/StumpGrinding/StumpGrinding4.jpg" />
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="~/Images/StumpGrinding/StumpGrindingCleanup4.jpg" />
                </a>
            </div>
        </div>
        <!-- /.row -->
        <br />
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="~/Images/StumpGrinding/StumpGrinding5.jpg" />
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive"  src="~/Images/StumpGrinding/StumpGrindingCleanup5.jpg" />
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="~/Images/StumpGrinding/StumpGrinding6.jpg" />
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="~/Images/StumpGrinding/StumpGrindingCleanup6.jpg" />
                </a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href='@Url.Action("Projects", "Home")'>&laquo;</a>
                        
                    </li>
                    <li class="active">
                        <a href="#">5</a>
                    </li>
               
                    <li>
                        <a href='@Url.Action("Tree_Removal", "Home")'>&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        
</body>

