
@{
    ViewBag.Title = "Tree_Removal";
}

<br />
<br />
<br />
    <body>

        <!-- Page Content -->
        <div class="container">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        <a href='@Url.Action("Photos", "Home")'>Albums</a>
                       
                        <small>| Tree Removal |</small>
                    </h1>
                </div>
            </div>
            <!-- /.row -->
            <!-- Projects Row -->
            <div class="row">
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="img-responsive" src="~/Images/TreeRemoval/TreeRemovalStart1-4.jpg" />
                    </a>
                </div>
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="img-responsive" src="~/Images/TreeRemoval/TreeRemovalDuring2-4.jpg" />
                    </a>
                </div>
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="img-responsive" src="~/Images/TreeRemoval/TreeRemovalCleanUp3-4.jpg" />
                    </a>
                </div>
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="img-responsive" src="~/Images/TreeRemoval/TreeRemovalFinish4-4.jpg" />
                    </a>
                </div>
            </div>
            <!-- /.row -->
            @*<br />*@
            <!-- Projects Row -->
            @*<div class="row">
                
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    </a>
                </div>
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    </a>
                </div>
            </div>*@
            <!-- /.row -->
            <!-- Projects Row -->
            @*<div class="row">
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    </a>
                </div>
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    </a>
                </div>
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    </a>
                </div>
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    </a>
                </div>
            </div>*@
            <!-- /.row -->
            <hr>
            <!-- Pagination -->
            <div class="row text-center">
                <div class="col-lg-12">
                    <ul class="pagination">
                        <li>
                            <a href='@Url.Action("Stump_Grinding", "Home")'>&laquo;</a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        @*<li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>*@
                        <li>
                            <a href='@Url.Action("Trimming", "Home")'>&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.row -->
           
        </div>
        
    </body>

