
@{
    ViewBag.Title = "Trimming";
}

<br />
<br />
<br />
<body>
   
    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <a href='@Url.Action("Photos", "Home")'>Albums</a>
                    <small>| Trimming |</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="~/Images/Trimming/Trimming_Boom.jpg" />
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="~/Images/Trimming/Trimming_Boom2.jpg" />
                </a>
            </div>
            @*<div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive"  src="~/Images/Trimming/Trimming1.jpg" />
                </a>
            </div>*@
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="~/Images/Trimming/Trimming2.jpg" />
                </a>
            </div>
        </div>
        <!-- /.row -->
        <br />
        <!-- Projects Row -->
        @*<div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="~/Images/Trimming/Trimming3.jpg" />
                </a>
            </div>*@
            @*<div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>*@
        </div>
        <!-- /.row -->
        <!-- Projects Row -->
        @*<div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
        </div>*@
        <!-- /.row -->
        <hr>
        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href='@Url.Action("Tree_Removal", "Home")'>&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">7</a>
                    </li>
                   
                    <li>
                        <a href='@Url.Action("Index", "Home")'>&raquo;</a>
                        
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
       
    </div>
    <!-- /.container -->
    
</body>

