
@{
    ViewBag.Title = "Trimming";
}

<br />
<br />
<br />

<!-- Page Content -->
    <div class="container">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <a href='@Url.Action("Photos", "Home")'>Albums</a>
                    <small>| Trimming |</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <!-- Projects Row -->
        <div class="row">
            <div class="col-sm-3 col-xs-6 portfolio-item">
                <a href="#portfolioModal1"
                   class="portfolio-link"
                   data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-responsive"
                         src="~/Images/Trimming/Trimming_Boom_edited.jpg" />
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="#portfolioModal2"
                   class="portfolio-link"
                   data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-responsive"
                         src="~/Images/Trimming/Trimming_Boom2_210x280.jpg" />
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="#portfolioModal3"
                   class="portfolio-link"
                   data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-responsive"
                         src="~/Images/Trimming/Trimming2_210x280.jpg" />
                </a>
            </div>
            <br />

        </div>
        
        
        <hr>
        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href='@Url.Action("Tree_Removal", "Home")'>&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">7</a>
                    </li>
                   
                    <li>
                        <a href='@Url.Action("Index", "Home")'>&raquo;</a>
                        
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
       
    </div>
    <!-- /.container -->

<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade"
     id="portfolioModal1"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal"
                 data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <img class="img-responsive img-centered"
                                 src="~/Images/Trimming/Trimming_Boom.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Portfolio Modal 1 -->

<!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade"
     id="portfolioModal2"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal"
                 data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <img class="img-responsive img-centered"
                                 src="~/Images/Trimming/Trimming_Boom2.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Portfolio Modal 2 -->

<!-- Portfolio Modal 3 -->
<div class="portfolio-modal modal fade"
     id="portfolioModal3"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal"
                 data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <img class="img-responsive img-centered"
                                 src="~/Images/Trimming/Trimming2.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Portfolio Modal 3 -->