<div class="row">
    DEBRIS CLEAN-UP & DISPOSAL

    If a recent storm has made a mess of your landscape,
    we can help. We will clean up broken branches and debris
    from your lawn to get it looking great again.

    In early spring, Removal of leaves, branches and other
    debris from the winter months will
    give your landscape a fresh look in the spring and summer months.

    As the summer and fall season comes to an end, we help with removal of leaves
    and debris.

    Landscaping & Construction

    Whether you’re landscaping a new yard, or redesigning an old
    landscape, We are a landscape business
    for residential and commercial customers. We can define your outdoor
    living space with patios and
    walksways. We also have service
    available to help you to maintain your existing landscape.

    Landscape design
    Retaining walls
    Stone walkways
    Lawn and planting bed renovations
    Mulching
    Brick patios

</div>
<div class="row">
    TREE & SHRUB CARE

    Healthy trees and shrubs give your landscape beauty and provide privacy
    for your home. Our full-season treatment program helps ensure that your
    trees and shrubs stay beautiful all year long. We’re experienced in
    all aspects of tree and shrub care including:

    Planting and removal
    Fertilizing
    Winterizing
    Pruning
    Debris clean-up and removal

    ADDED SERVICES

    The Northern Handyman also offers a variety of additional
    services to  maintain your outdoor living space including:

    Eaves trough cleaning
    Parking lot sweeping
    Brush Hogging

</div>
<hr class="about">
<div class="container">
    <br />
    <div class="row">
        <div class="col-lg-5 col-sm-6">
            <h2 class="section-heading"> Equip. Available</h2>
            <hr class="section-heading-spacer_Equip" />
            <br />
            <p style="font-size:unset">
                78"Brush Hogger"<br />
                Snow plow trucks & blowers<br />
                60" Mow & vac<br />
                Trailers<br />
                84 inch skid steer snow blower<br />
                8ft bucket<br />
                V Bottom salter<br />
                Commercial 60inch zero turn mower w/vacuum<br />
            </p>
        </div>
        <div class="col-lg-push-2 col-sm-6">
            <br />
            <br />
            <p style="font-size:unset">
                <br />
                - FireWood - <br />
                Pick-Up or Delivery<br />
                $60/Face Cord of mixed hardwood.<br />
                <br />
                <strong>*Free* </strong><br />
                Delivery on purchases of 3-6 Face Cords<br />
                within a 25 mile radius of New London WI,<br />


            </p>
        </div>
    </div>
    <ul class="pager">
        <li class="previous"><a href='@Url.Action("Index", "Home")'>&larr; Home</a></li>
        <li class="next"><a href='@Url.Action("Services", "Home")'>Next &rarr;</a></li>
    </ul>
</div>











<div class="col-lg-3 col-sm-6 text-left">
    The Northern Handyman is a home based buisness with over 30 years of experience.
    We have the capabilities to fill all your commercial or residential
    landscaping needs and fully centered around focusing on doing the job right the
    FIRST time while being safety conscious and curtious.
</div>
<div class="col-lg-3 col-sm-6 text-left">
    The Northern Handyman is flexible to accommodate what works best
    for it's clients and with over 10 years of services provided, we always strive
    to make sure the customer is completely satisfied.
</div>
<div class="col-lg-3 col-sm-6 text-left">
    The Northern Handyman is able to go beyond just mowing the lawn in the summer season
    by providing you with affordable snow removal services during the cold winter
    seasons. We provide affordable all-year-round services Or just one
    time seasonal services.
</div>
<div class="row">
    <div class="col-lg-3 col-sm-6 text-left">
        Feel free to contact us for any services listed on our Services page. We are Fully
        insured and our company strongly believes in being enviornmentally friendly.
        If needed we can haul away debris. We do not leave it lying around.
        We offer topsoil and provide seeding when necessary.

        is a full service lawn care provider based in Kaukauna, WI and servicing the Fox Valley area.
        is a provider of lawn mowing, spring and fall clean ups, fertilizing, mulching, and more.
        Lawn Mowing: Residential and Commercial Properties:
        We always make sure to clean up sidewalks, driveways, rock, and mulch beds of any grass clippings
        Spring Clean Up:
        We will remove any debris leftover from the winter and fall months (leaves, branches, etc)



        Lawn Care & Brush Moving
        Leaf Rake-up & Removal
        Snow Plowing & Shoveling

        Our Priorities

        Worker safety and training
        Protection of your property including structures, adjacent plantings, and landscapes



        <!---   Carousel --->

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
                <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
                <li data-target="#carousel-example-generic" data-slide-to="4" class=""></li>
                <li data-target="#carousel-example-generic" data-slide-to="5" class=""></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item">
                    <img src="images/slide-1-emergency-tree-removal-service-1170.jpg">
                    <div class="carousel-caption">
                        24/7 Emergency Tree Removal Service
                    </div>
                </div>

                <div class="item active">
                    <img src="~/Images/Filler_ExtraImages/MowingScape.PNG" alt="Mowing">
                    <div class="carousel-caption">
                        Commercial 60″ zero turn mower w/ vacuum.
                    </div>
                </div>

                <div class="item">
                    <img src="~/Images/Filler_ExtraImages/FullStumpRemoval.jpg" alt="Full Stump Removal">
                    <div class="carousel-caption">

                    </div>
                </div>

                <div class="item">
                    <img src="~/Images/TreeRemoval/TreeRemovalDuring2-4.jpg" alt="Fallen tree is chopped into smaller chunks">
                    <div class="carousel-caption">
                        Tree Removal Service
                    </div>
                </div>

                <div class="item">
                    <img src="~/Images/TreeRemoval/LargeTreeRemoval.jpg" alt="Full tree body loaded onto the truck ">
                    <div class="carousel-caption">
                        Year Round Service
                    </div>
                </div>

                <div class="item">
                    <img src="~/Images/StumpGrinding/StumpGrindingCleanup6.jpg" alt=" service crew is done with the project and leaving the job site.">
                    <div class="carousel-caption">

                    </div>
                </div>

            </div>
        </div>
        <!--- /CarouseL --->
        <!--- Quote Form --->
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" style="text-align:center">
            <h2 class="white-border-bottom" id="FreeQuote"> <span class="glyphicon glyphicon-piggy-bank"></span> Free Quote &amp;Consultation</h2>
            <form data-toggle="validator" role="form" id="form-quote" method="post" action="quote-request.php">
                <div class="form-group">
                    <label for="inputName" class="control-label">Name</label>
                    <input class="form-control" name="name" id="inputName" placeholder="Your Name" required="" type="text">

                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input class="form-control" name="address" id="address" placeholder="Address" required="" type="text">
                </div>


                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input pattern="^\(\d{3}\) ?\d{3}( |-)?\d{4}|^\d{3}( |-)?\d{3}( |-)?\d{4}" class="form-control"
                           name="phone" id="phone" placeholder="e.g. 111-111-1111" required="" type="phone">
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="control-label">Email</label>
                    <input class="form-control" name="email" id="inputEmail" placeholder="youremail@domain.com" data-error="Sorry, but this email addressseems to be invalid :(" required="" type="email">
                    <div class="help-block with-errors"></div>
                </div>
                <p class="form-control-static"><strong>Your project describtion</strong> <small><em>(e.g. I need a tree taken down ASAP)</em></small></p>
                <textarea class="form-control" rows="5" name="instructions"></textarea>
                <div class="form-group">
                    <!-- <div class="g-recaptcha" data-sitekey="6LfH4xYTAAAAAFi6UMnKF255Q786lJH4ePjpBZGB"></div> -->
                </div>
                <button type="submit" class="btn-block btn-lg btn-warning">Send My Quote Request Now  <span class="glyphicon glyphicon-send"></span></button>
            </form>

        </div><!--- /.col-xs-12 --->
    </div><!--- /.row --->
</div><!--- /.container --->
<!--- /Quote Form --->


Winter Season service 
<body>

    <script type="text/javascript">
    var yellAnalyticsConfig = {
    "global" : {
    "trackDownloadLinks": true,
    "downloadFileTypes": "exe,zip,wav,mp3,mov,mpg,avi,wmv,pdf,doc,docx,xls,xlsx,ppt,pptx",
    "currenty": "USD",
    "trackExternalLinks": true,
    "internalDomains": "javascript:",
    "charset": "UTF-8"
    },
    "omniture" : {
    "enabled": true,
    "server": "yellgroup.122.2o7.net",
    "serverSecure": "yellgroup.122.2o7.net",
    "namespace": "yellgroup",
    "account": "yellsitemakerlive"
    }}
    </script>
    <script type="text/javascript" charset="UTF-8" src="/_app/8587604/global_analytics/s_code.js"></script>
    <script type="text/javascript" charset="UTF-8" src="/_app/8587604/global_analytics/yell-analytics.js"></script>
    <script type="text/javascript" charset="UTF-8" src="/_app/8587604/global_analytics/eventsprops.js"></script>
    <script type="text/javascript">
    var page_event = HAF.newEvent(YellEvents.PAGE_VIEW);
    page_event.setProp(YellProps.PROD_SKU, 'WBS-PRM1YRM-01-US')
    .setProp(YellProps.GEO_LOCATION, 'US')
    .setProp(YellProps.SITE_TYPE, 'web')
    .setProp(YellProps.ASSET_ID, 'grassdoctor30606667-151616')
    .setProp(YellProps.CUSTOMER_ID, '1951311');

    HAF.pgEvents.add(page_event);
    HAF.pg_event();
    </script>
    <div class="pageOffset"></div>
    <div class="pagePadding">

        <div id="pageAlignment" class="pageAlignment">
            <div id="pageContent" class="pageContent">
                <img class="line master_10" src="/_imgstore/1/1361001/master_10/yP41EwYK_rI_jvGghTdgPs4DKUM.png">
                <ul class="menu horizontal master_fpnv8wUe9FhW6Nq23bsMZ">
                    <li class="menuItem ">
                        <a href="/home/1922665" class="menuItemDesign"><span>Home</span></a>
                    </li>
                    <li class="menuItem ">
                        <a href="/lawn-care-programs/1922674" class="menuItemDesign"><span>Lawn Care Programs</span></a>
                    </li>
                    <li class="menuItem ">
                        <a href="/build-maintain-landscape/1922675" class="menuItemDesign"><span>Build &amp; Maintain Landscape</span></a>
                        <div class="subMenu">
                            <ul>
                                <li class="subMenuItem ">
                                    <a href="/patio-and-deck-building/1922706" class="subMenuItemDesign"><span>Patio and Deck Building</span></a>
                                </li>
                                <li class="subMenuItem ">
                                    <a href="/commercial/1922677" class="subMenuItemDesign"><span>Commercial</span></a>
                                </li>
                                <li class="subMenuItem ">
                                    <a href="/residential/1922678" class="subMenuItemDesign"><span>Residential</span></a>
                                </li>
                                <li class="subMenuItem ">
                                    <a href="/tree-service/1922698" class="subMenuItemDesign"><span>Tree Service</span></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="menuItem ">
                        <a href="/trucking-equipment/1922723" class="menuItemDesign"><span>Trucking &amp; Equipment</span></a>
                    </li>
                    <li class="menuItem selected">
                        <a href="/winter-season-services/1922676" class="menuItemDesign"><span>Winter Season Services</span></a>
                    </li>
                    <li class="menuItem ">
                        <a href="/contact/1922669" class="menuItemDesign"><span>Contact</span></a>
                    </li>
                </ul>
                <a href="/home/1922665" target="_self">
                    <img src="/communities/1/000/001/361/001//images/3336520_429x97.png" alt="grassdoctors lawn and landscape company logo" title="grassdoctors lawn and landscape company logo" class="master_fxSvij6etLKcRl1aAmXKz">
                </a>
                <div class="master_f38sGIlpdqfntFL_nXgLS body">
                    <p class="p0">

                        <span class="c0"><a href="tel: +19204193060" target="_blank">920-419-3060</a></span>
                    </p>
                    <p class="p1">

                        <span class="c0">grassdoctors@yahoo.com</span>
                    </p>
                </div>
                <img src="/communities/1/000/001/361/001//images/11893048_171x100.png" alt="stillman-logo" class="master_f4O3sb80rUHlF836Um1iI">
                <div class="simpleRectangle page_winter-season-services_faZ32UQq68zY28QyLB-Dp">

                </div>
                <img src="/communities/1/000/001/361/001//images/11893305.png" alt="Cleaning-snow" class="page_winter-season-services_fsSrd3DywwId5YSN9ZsTI">
                <div class="simpleRectangle page_winter-season-services_foXUXyyLLGNirPLTHWc_n">

                </div>
                <div class="simpleRectangle page_winter-season-services_fX791jwOcgcaWnand3cZL">

                </div>
                <img src="/communities/1/000/001/361/001//images/3336807.jpg" alt="Cleaning snow" title="Cleaning snow" class="page_winter-season-services_fuP_ygDEq0sypJ46p0XhM">
                <img class="line page_winter-season-services_12" src="/_imgstore/1/1361001/page_winter-season-services_12/yHkhMMdLnCm9g7rSauMSYpDHOGI.png">
                <div class="page_winter-season-services_f3QOG5MPTavgTm7GJvFEe body">
                    <p class="p0">

                        <span class="c0">Winter is no excuse. Our crew is happy to keep the hedges trimmed or the yard raked. We specialize in snow removal also. Salting and sanding is available for sidewalks and driveways, as well as 24-hour snow plowing. Call us for a quote.</span>
                    </p>
                </div>
                <div class="page_winter-season-services_fJ2LM4MQ_i9oWBwJNq_EN body">
                    <p class="p0">

                        <span class="c0">Let us come out in the fall to get your yard ready for snowfall. We'll come back out in the spring to clean up and get your yard growing again. </span>
                    </p>
                </div>
                <div class="page_winter-season-services_fYhq5o_-6RlhN9FGCWDUc body">
                    <p class="p0">

                        <span class="c0">24-hour snow plowing for your business or neighborhood</span>
                    </p>
                </div>
                <div class="page_winter-season-services_17 title">
                    <h1 class="p0">

                        <span class="c0">Quality property services for every season</span>
                    </h1>
                </div>
                <div class="page_winter-season-services_flU0it01gI2dx7A90o9c1 body">
                    <p class="p0">

                        <span class="c0"><a href="/page/1922668" target="_self">• &nbsp;Snow plowing</a></span>
                    </p>
                    <p class="p1">

                        <span class="c0"><a href="/page/1922668" target="_self">• &nbsp;Salting and sanding</a></span>
                    </p>
                    <p class="p2">

                        <span class="c0"><a href="/page/1922668" target="_self">• &nbsp;Sidewalk, walkway and driveway </a></span>
                    </p>
                    <p class="p3">

                        <span class="c0"><a href="/page/1922668" target="_self"> &nbsp; snow removal</a></span>
                    </p>
                </div>
                <div class="page_winter-season-services_fGekuK2hxMiPO8jaMIxtY body">
                    <p class="p0">

                        <span class="c0">Let us do more than snow removal. We have experienced crew members for building </span>
                    </p>
                    <p class="p1">

                        <span class="c0"><a href="/patio-and-deck-building/1922706" target="_self">decks and patios</a></span><span class="c1"><a href="/patio-and-deck-building/1922706" target="_self">, </a></span><span class="c2"><a href="/lawn-care-programs/1922674" target="_self">lawn care</a></span><span class="c3"><a href="/patio-and-deck-building/1922706" target="_self">, </a></span><span class="c4"><a href="/tree-service/1922698" target="_self">tree service</a></span><span class="c5"><a href="/patio-and-deck-building/1922706" target="_self"> and more. Ask about our scheduled </a></span>
                    </p>
                    <p class="p2">

                        <span class="c0"><a href="/build-maintain-landscape/1922675" target="_self">maintenance</a></span><span class="c1"><a href="/build-maintain-landscape/1922675" target="_self"> services. </a></span>
                    </p>
                </div>
                <div class="page_winter-season-services_fZvUmmi-uacYbuHrbl6l7 body">
                    <p class="p0">

                        <span class="c0">Get more for your money with a FREE estimate:</span>
                    </p>
                    <p class="p1">

                        <span class="c0"><a href="tel:9204193060" target="_blank">920-419-3060</a></span>
                    </p>
                </div>
                <div class="page_winter-season-services_f8PFAx6UnbImYYj-Rt02R title">
                    <h1 class="p0">

                        <span class="c0">Beautify your landscape even in the snow</span>
                    </h1>
                </div>
                <div class="page_winter-season-services_fJddAVAi6GqwqX9QybuOy title">
                    <h1 class="p0">

                        <span class="c0">Spring and fall cleanup</span>
                    </h1>
                </div>
                <div class="page_winter-season-services_fXcfcW-62A3B5iOzHpXOb title">
                    <h1 class="p0">

                        <span class="c0">Cold weather services</span>
                    </h1>
                </div>
                <div class="page_winter-season-services_frOEgXaRspxG4LcbvLE6k title">
                    <h1 class="p0">

                        <span class="c0">Providing the best full-service landscaping in the Fox Valley and Northeastern, WI</span>
                    </h1>
                </div>
                <div id="footer" class="footer">
                    <div class="footer_fp8lZB39lv-7UoRQUngov body">
                        <p class="p0">

                            <span class="c0"><a href="http://legal.hibustudio.com/client-site-terms-and-conditions/privacy-policy.html" target="_blank">Privacy Policy</a></span><span class="c1"> | </span><span class="c2"><a href="http://legal.hibustudio.com/client-site-terms-and-conditions/cookie-policy.html" target="_blank">Cookie Policy</a></span><span class="c3"> | </span><span class="c4"><a href="http://legal.hibustudio.com/client-site-terms-and-conditions/conditions-of-use.html" target="_blank">Conditions of Use</a></span><span class="c5"> | </span><span class="c6"><a href="http://legal.hibustudio.com/client-site-terms-and-conditions/infringement-policy.html" target="_blank">Notice and Take Down Policy</a></span><span class="c7"> | Powered by </span><span class="c8"><a href="http://business.hibu.com/" target="_blank">hibu</a></span>
                        </p>
                    </div>
                    <img class="line footer_fnW5cGJr0uW1Fugd4JQdt" src="/_imgstore/1/1361001/footer_fnW5cGJr0uW1Fugd4JQdt/O73ba8cnrqtw96_8Ctn_VqQMTR4.png">
                    <div class="footer_f_WnP1Tja0vtB2pFpEC7j body">
                        <p class="p0">

                            <span class="c0">© 2016. The content on this website is owned by us and our licensors. Do not copy any content (including images) without our consent.</span>
                        </p>
                    </div>
                    <a href="http://www.facebook.com/pages/Grass-Doctors-Lawn-Landscape/614663105298037" target="_blank">
                        <img src="/communities/1/000/001/361/001//images/5510214_42x42.png" alt="facebook logo-blue" class="footer_f-jRWxCW9V9YMUZZ0M3JR">
                    </a>
                    <a href="http://twitter.com/GrassDoctorsWI" target="_blank">
                        <img src="/communities/1/000/001/361/001//images/5510216_42x42.jpg" alt="twitter logo-blue box" class="footer_fM5_hgCN3YoDsgi14B_qy">
                    </a>
                    <div class="footer_fCCnfKV7E5ZP2sTvbNGJX body">
                        <p class="p0">

                            <span class="c0">Grass Doctors Lawn &amp; Landscape - Lawn and tree care | Neenah, WI &nbsp;| Appleton WI </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
$(document).ready(function () { SM6.Login.init('', ''); })
    </script>
    <script src="/_app/8587604/sm6/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
    <script src="/_app/8587604/sm6/fancybox/jquery.fancybox-init.js"></script>
    <div class="login" style="display:none;"><a href="#" class="loginpopup"></a></div>
</body>