<div class="row">
    DEBRIS CLEAN-UP & DISPOSAL

    If a recent storm has made a mess of your landscape,
    we can help. We will clean up broken branches and debris
    from your lawn to get it looking great again.

    In early spring, Removal of leaves, branches and other
    debris from the winter months will
    give your landscape a fresh look in the spring and summer months.

    As the summer and fall season comes to an end, we help with removal of leaves
    and debris.

    Landscaping & Construction

    Whether you’re landscaping a new yard, or redesigning an old
    landscape, We are a landscape business
    for residential and commercial customers. We can define your outdoor
    living space with patios and
    walksways. We also have service
    available to help you to maintain your existing landscape.

    Landscape design
    Retaining walls
    Stone walkways
    Lawn and planting bed renovations
    Mulching
    Brick patios

</div>
<div class="row">
    TREE & SHRUB CARE

    Healthy trees and shrubs give your landscape beauty and provide privacy
    for your home. Our full-season treatment program helps ensure that your
    trees and shrubs stay beautiful all year long. We’re experienced in
    all aspects of tree and shrub care including:

    Planting and removal
    Fertilizing
    Winterizing
    Pruning
    Debris clean-up and removal

    ADDED SERVICES

    The Northern Handyman also offers a variety of additional
    services to  maintain your outdoor living space including:

    Eaves trough cleaning
    Parking lot sweeping
    Brush Hogging

</div>
<hr class="about">
<div class="container">
    <br />
    <div class="row">
        <div class="col-lg-5 col-sm-6">
            <h2 class="section-heading"> Equip. Available</h2>
            <hr class="section-heading-spacer_Equip" />
            <br />
            <p style="font-size:unset">
                78"Brush Hogger"<br />
                Snow plow trucks & blowers<br />
                60" Mow & vac<br />
                Trailers<br />
                84 inch skid steer snow blower<br />
                8ft bucket<br />
                V Bottom salter<br />
                Commercial 60inch zero turn mower w/vacuum<br />
            </p>
        </div>
        <div class="col-lg-push-2 col-sm-6">
            <br />
            <br />
            <p style="font-size:unset">
                <br />
                - FireWood - <br />
                Pick-Up or Delivery<br />
                $60/Face Cord of mixed hardwood.<br />
                <br />
                <strong>*Free* </strong><br />
                Delivery on purchases of 3-6 Face Cords<br />
                within a 25 mile radius of New London WI,<br />


            </p>
        </div>
    </div>
    <ul class="pager">
        <li class="previous"><a href='@Url.Action("Index", "Home")'>&larr; Home</a></li>
        <li class="next"><a href='@Url.Action("Services", "Home")'>Next &rarr;</a></li>
    </ul>
</div>











<div class="col-lg-3 col-sm-6 text-left">
    The Northern Handyman is a home based buisness with over 30 years of experience.
    We have the capabilities to fill all your commercial or residential
    landscaping needs and fully centered around focusing on doing the job right the
    FIRST time while being safety conscious and curtious.
</div>
<div class="col-lg-3 col-sm-6 text-left">
    The Northern Handyman is flexible to accommodate what works best
    for it's clients and with over 10 years of services provided, we always strive
    to make sure the customer is completely satisfied.
</div>
<div class="col-lg-3 col-sm-6 text-left">
    The Northern Handyman is able to go beyond just mowing the lawn in the summer season
    by providing you with affordable snow removal services during the cold winter
    seasons. We provide affordable all-year-round services Or just one
    time seasonal services.
</div>
<div class="row">
    <div class="col-lg-3 col-sm-6 text-left">
        Feel free to contact us for any services listed on our Services page. We are Fully
        insured and our company strongly believes in being enviornmentally friendly.
        If needed we can haul away debris. We do not leave it lying around.
        We offer topsoil and provide seeding when necessary.

        is a full service lawn care provider based in Kaukauna, WI and servicing the Fox Valley area.
        is a provider of lawn mowing, spring and fall clean ups, fertilizing, mulching, and more.
        Lawn Mowing: Residential and Commercial Properties:
        We always make sure to clean up sidewalks, driveways, rock, and mulch beds of any grass clippings
        Spring Clean Up:
        We will remove any debris leftover from the winter and fall months (leaves, branches, etc)
