


<div class="container" style="width:75%">
    <!--Row-->
    <div class="row">
        <div class="col-xs-12 text-center">
            <div class="jumbotron">
                <h2 class="text-light-weight" style="font-style:italic">WINTER SERVICES...</h2>
                Snow is an incredible hassle for homeowners and business owners across Wisconsin.<br />
                Depend on us to give you fast,
                efficient, and reliable commercial and residential snow removal services.
                Whether you need commercial services or residential services, we'll work with
                you to develop a comprehensive winter maintenance plan to fit you budget and needs.
            </div>
        </div>
    </div>
    <!--/Row-->
    <!--Row-->
    <div class="row">
        <div class="col-xs-12 col-sm-6 text-center">
            <div class="panel">
                <div class="panel-body">
                    <br />
                    <h3 style="font-style:italic">
                        COMMERCIAL WINTER SERVICE
                    </h3>
                    <!--Content-->
                    <p style="font-size: 1em;">
                        No Lot is Too Big! <br />
                        A parking lot full of snow means less customers,
                        We provide salting and plowing services for parking lots for all
                        types of commercial buildings including, but not limited to,
                        grocery stores, apartment complexes, offices, and government buildings.
                    </p>
                    <!--/Content-->

                    <br />
                </div>
            </div>
        </div>
        <!--Image-->
        <div class="col-xs-12 col-sm-6 text-center ">
            <img src="~/Images/SnowServices/Snowy_Parkinglot_edited.jpg"
                 style="height:100%; width:100%" />
        </div>
        <!--/Image-->
    </div>
    <!--/Row-->
    <!--Row-->
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-push-6 text-center">
            <div class="panel">
                <div class="panel-body">
                    <h3 style="font-style:italic">
                        RESIDENTIAL WINTER SERVICE
                    </h3>
                    <!--Content-->
                    <p style="font-size: 1em;">
                        Our crews will ensure your sidewalks and pathways are safely cleared
                        If needed, we take care of your deck/patio through
                        clearing stairs and handrails for safety, and ensure access to garbage
                        bins, and mailboxes. We work around the clock, ensuring your driveway
                        stays clear when snow starts to fall. Salting and sanding is available for
                        sidewalks and driveways

                    </p>
                    <!--/Content-->
                </div>
            </div>
        </div>
        <!--Image-->
        <div class="col-xs-12 col-sm-6 col-sm-pull-6">
            <img src="~/Images/SnowServices/Plowed_Driveway_edited.jpg"
                 style="height:100%; width:100%" />
        </div>
        <!--/Image-->
    </div>
    <!--/Row-->
    <!--Row-->
    <div class="row">
        <div class="col-xs-12 col-sm-6 text-center">
            <div class="panel">
                <div class="panel-body">
                    <br />
                    <h3 style="font-style:italic">
                        Snow Plowing
                    </h3>
                    <!--Content-->
                    <p style="font-size: 1em;">
                        The first snowfall is a wonderful sight But by the end of January,
                        let’s face it, we are sick of it.This winter, let The Northern
                        Handyman take care of your snow removal needs this winter.
                        This is performed using trucks and bobcats after 1 inch of snow has accumulated.
                        Salting and sanding is available.
                        <br />
                    </p>
                    <!--/Content-->
                </div>
            </div>
        </div>
        <!--Image-->
        <div class="col-xs-12 col-sm-6">
            <img src="~/Images/SnowServices/SnowPlowing_edited.jpg"
                 style="height:100%; width:100%" />
        </div>
        <!--/Image-->
    </div>
    <!--/Row-->
    <!--Row-->
    <div class="row">
        <div class="col-xs-12 text-center">
            <div class="jumbotron">
                <h2 class="text-light-weight" style="font-style:italic">Sanding & Salting...</h2>

                <!--Content-->
                <p style="font-size: 1em;">
                    You may have noticed salt or
                    sand on the road. That's no accident! Many people believe that sand and salt are used for the same purpose
                    — to melt the ice. But they're wrong! @*It's all part of the plan.*@
                    Salt lowers the freezing point of water causing ice to begins to dissolve .
                    With the ice gone,it makes it safer for visitors to come to your front door. 
                    Sand is used for improved traction.The movement of the sand grains makes 
                    it difficult for water molecules to stick together and form ice. 
                    We provide ice management to ensure the sidewalks, walkways and parking
                    lots are safe and ice-free as needed.
                </p>
                <!--/Content-->
            </div>
        </div>
    </div>
    <!--/Row-->

    <!--/Row-->
    @*<!--Row-->
        <div class="row">
            <div class="col-xs-12 col-sm-6 text-center">
                <div class="panel">
                    <div class="panel-body">
                        <h3 style="font-style:italic">
                            Stump Removal / Grinding
                        </h3>
                        <!--Content-->
                        <p style="font-size: 1em;">
                            Are you ready to dump that tree stump? Once a tree is removed,
                            the stump is left behind. With one phone call to The Northern
                            Handyman, we can assess the stump, determine a budget, set a
                            date to remove the stump, and remove it with little effort.
                            You can say goodbye to that stump forever!
                        </p>
                        <!--Content-->

                        <br />
                    </div>
                </div>
            </div>
            <!--Image-->
            <div class="col-xs-12 col-sm-6">
                <img src="~/Images/StumpGrinding/StumpRemoval_edited.jpg" style="height:100%; width:100%" />
            </div>
            <!--/Image-->
        </div>
        <!--/Row-->
        <!--Row-->
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-push-6 text-center">
                <div class="panel">
                    <div class="panel-body">
                        <h3 style="font-style:italic">
                            Storm Damage Cleanup
                        </h3>
                        <!--Content-->
                        <p style="font-size: 1em;">
                            While it's impossible to totally protect your
                            trees and property from severe storms The Northern Handyman
                            offers After Storm Clean-up to get you the
                            help you need fast. Let us restore your yard
                            back to perfect condition after a storm
                            or heavy wind damage has brought down limbs or entire trees.
                        </p>
                        <!--Content-->

                        <br />

                    </div>
                </div>
            </div>
            <!--Image-->
            <div class="col-xs-12 col-sm-6 col-sm-pull-6">
                <img src="~/Images/Filler_ExtraImages/stormdamage2_edited.jpg" style="height:100%; width:100%" />
            </div>
            <!--/Image-->

        </div>
        <!--/Row-->*@
    <!--Row-->
    <div class="row">
        <ul class="pager">

            <li class="active">
                <a href='@Url.Action("Index","Home")'>Home</a>
            </li>

        </ul>
        <br />
    </div>
    <!--/Row-->

</div>

